<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comments index</title>
</head>

<body>
    <h1>Comments</h1>
    <ul>
        <% for(let i of comments) {%>
            <li>
                <%= i.comment %> -
                    <%= i.username %>
                    <a href="/comments/<%= i.id %>">details</a>
                    <a href="/comments/<%= i.id %>/edit">edit comment</a>
            </li>
            <% } %>
    </ul>
    <a href="/comments/new">New Comments</a>
</body>

</html>