<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show comment using id</title>
</head>
<body>
    <h1>Comment id:<%= comment.id %></h1>
    <p>Comment - <b><%= comment.comment %></b></p>
    <form action="/comments/<%= comment.id %>?_method=DELETE" method="post">
        <button>Delete</button>
    </form>
    <a href="/comments">Back to Comment</a>
</body>
</html>